/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Cyan: hsl(179, 62%, 43%)
- Bright Yellow: hsl(71, 73%, 54%)

### Neutral

- Light Gray: hsl(204, 43%, 93%)
- Grayish Blue: hsl(218, 22%, 67%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Karla](https://fonts.google.com/specimen/Karla)
- Weights: 400, 700 */

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,500;0,600;0,700;1,500&display=swap');

body {
	font-family: 'Karla', sans-serif;
	font-size: 16px;
}

:root {
	--main: hsl(179, 62%, 43%);
	--main-2: hsl(71, 73%, 54%);
	--main-3: hsl(204, 43%, 93%);
	--main-4: hsl(218, 22%, 67%);
	--text-1: white;
}

.container {
	border: 1px solid black;
	border-radius: 5px;
	overflow: hidden;
	margin: 0 auto;
	width: 60%;
	display: flex;
	flex-direction: column;
}

.container-2 {
	border: 1px solid green;
	display: flex;
	flex-direction: column;
}

.card-1,
.card-2,
.card-3 {
	padding: 1em 2.5em;
}

h1 {
	font-size: 1.5rem;
}

.card-1 {
	color: var(--main-4);
}

.card-1 > h1 {
	color: var(--main);
	font-size: 1.5rem;
}
.card-1 > h2 {
	color: var(--main-2);
	font-size: 1.1rem;
}

.card-1 > p {
	line-height: 1.8;
}

.card-2 {
	background-color: var(--main);
	color: var(--main-3);
}

span {
	font-size: 3rem;
}

.btn {
	background-color: var(--main-2);
	color: var(--text-1);
	width: 100%;
	padding: 1em;
	border: none;
	border-radius: 5px;
	overflow: hidden;
	font-size: 1.1rem;
}

.card-2,
.card-3 > h1 {
	color: var(--main-3);
}

.card-3 {
	background-color: hsl(179, 46%, 63%);
}

.card-3 > ul {
	list-style-type: none;
	line-height: 1.5;
	padding: 0;
	color: var(--main-4);
}

@media (min-width: 705px) {
	.container {
		max-width: 650px;
	}
	.container-2 {
		flex-direction: row;
		width: 100%;
	}
}
