@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,500;0,600;0,700;1,500&display=swap');

body {
	font-family: 'Karla', sans-serif;
	font-size: 16px;
}

:root {
	--main: hsl(179, 62%, 43%);
	--main-2: hsl(71, 73%, 54%);
	--main-3: hsl(210, 14%, 95%);
	--main-4: hsl(218, 22%, 67%);
	--text-1: white;
}

.container {
	/* border: 1px solid black; */
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 5px;
	overflow: hidden;
	margin: 10em auto;
	width: 65%;
	display: flex;
	flex-direction: column;
}

.container-2 {
	/* border: 1px solid green; */
	display: flex;
	flex-direction: column;
}

.card-1,
.card-2,
.card-3 {
	padding: 1em 2.5em;
}

h1 {
	font-size: 1.2rem;
}

.card-1 {
	color: var(--main-4);
}

.card-1 > h1 {
	color: var(--main);
	font-size: 1.5rem;
}
.card-1 > h2 {
	color: var(--main-2);
	font-size: 1.1rem;
}

.card-1 > p {
	line-height: 1.8;
	vertical-align: middle;
	color: #c9ccd4;
}

.card-2 {
	background-color: var(--main);
	color: var(--main-3);
}

.card-2 > p:first-of-type {
	color: #a7dbda;
}

span {
	font-size: 2.7rem;
	vertical-align: middle;
	color: white;
}

.card-2 > p:last-of-type {
	color: #b8e7e9;
	padding-bottom: 1.5em;
}

.btn {
	font-family: 'Karla';
	background-color: var(--main-2);
	color: var(--text-1);
	width: 100%;
	padding: 0.6em;
	border: none;
	border-radius: 5px;
	overflow: hidden;
	font-size: 1rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-2,
.card-3 > h1 {
	color: var(--main-3);
}

.card-3 {
	background-color: hsl(179, 46%, 63%);
}

.card-3 > ul {
	list-style-type: none;
	line-height: 1.5;
	padding: 0;
	color: #b8e7e9;
}

.attribution {
	font-size: 1rem;
}

@media (min-width: 705px) {
	.container {
		max-width: 650px;
	}
	.container-2 {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: 1fr;
	}
}
